.team-card {
    width: 220px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.team-card__name {
    font-family: "Mulish";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

.avatar-list {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.avatar-list__item {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.avatar-list__image {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ccc;
    background-size: cover;
    background-position: center;
}

.team-card__add-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.team-card__add-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
    background-color: #3747bb;
    border: none;
}

.team-card__add-btn::before, .team-card__add-btn::after {
    content: "";
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    position: absolute;
}

.team-card__add-btn::after {
    transform: rotate(90deg);
    left: 12px;
}

.teams__card-link {
    margin-bottom: 25px;
}

@media screen and (max-width: 1270px) {
    .team-card {
        width: 220px;
    }
}

@media screen and (max-width: 820px){
    .team-card {
        width: 266px;
    }
    
    .teams .team-card{
        padding: 40px;
    }

}

@media screen and (max-width: 620px) {
    .team-card {
        width: 100%;
    }

    .teams__card-link {
        width: 100%;
    }
}


