/* Стили для профиля пользователя */
.profile {
    padding: 30px 40px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-evenly;
}

.profile__info {
    display: flex;
}

.profile__avatar {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.profile__avatar-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: auto;
}

.profile__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.profile__name {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 30px;
}

.profile__specialization,
.profile__email {
    font-size: 16px;
    margin: 5px 0;

}

.profile__edit-form {
    margin-top: 20px;
}


@media screen and (max-width: 820px) {
    .profile__details {
        margin-top: 40px;
    }
    .profile {
        flex-direction: column;
    }
}
