.profile__edit-form {
    margin-top: 40px;
    display: flex;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    justify-content: space-between;
}

.edit-form {
    display: flex;
    flex-direction: column;
    width: 550px;
}

.edit-form__form-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.edit-form__label {
    display: block;
    margin-bottom: 5px;
}

.edit-form__input{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-form__submit {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .2s ease-in;
}

.edit-form__submit:hover {
    background-color: #555;
}

.profile__edit-form-error {
    color: red;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin: 10px 0;
    display: inline-block;
}

@media screen and (max-width: 1270px) {
    .edit-form {
        width: 450px;
    }
}

@media screen and (max-width: 1050px) {
    .edit-form {
        width: 350px;
    }
}

@media screen and (max-width: 820px){
    .profile__edit-form {
        flex-direction: column;
    }

    .edit-form:not(:last-child) {
        margin-bottom: 40px;
    }

    .edit-form {
        width: 100%;
    }
}


