.scrum-board__task-card {
    background-color: #26262c;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: grab;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 310px;
    max-height: 310px;
    height: 310px;
}

.scrum-board__task-card--isDragging {
    border-color:#2c47f5;
    opacity: 0.5;
    min-height: 310px;
    max-height: 310px;
    height: 310px;
}

.scrum-board__task-card-textarea {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
    overflow: auto;
    height: 80px;
}

.scrum-board__task-card:hover {
    border-color:#2c47f5;
}

.scrum-board__task-card .scrum-board__icon {
    top: 30px;
    right: 20px;
    transform: translateY(-50%);
    position: absolute;
}

.scrum-board__task-card-textarea {
    resize: none;
    height: 70px;
    background-color: #26262c;
    outline: none;
    border: none;
    padding: 0;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 30px;
}

.scrum-board__task-card-textarea::-webkit-scrollbar, .scrum-board__task-card-content::-webkit-scrollbar {
    width: 6px;
    height: 6px;
 }

.scrum-board__task-card-textarea::-webkit-scrollbar-track,  .scrum-board__task-card-content::-webkit-scrollbar-track{
  background-color: #363740;
}

.scrum-board__task-card-textarea::-webkit-scrollbar-thumb, .scrum-board__task-card-content::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 25px;
}

.scrum-board__task-card-done-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 15px;
    cursor: pointer;
}

.scrum-board__task-user {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.scrum-board__task-user-inner-wrapper {
    display: flex;
    align-items: center;
}

.scrum-board__task-user-avatar {
    width: 35px;
    height: 35px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.scrum-board__task-user-avatar-img {
    width: 35px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.scrum-board__task-user-name {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
    margin-left: 10px;
}

.scrum-board__task-user-title, .scrum-board__date-time-created, .scrum-board__date-time-end, .scrum-board__priority-round {
    margin-bottom: 10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}


.scrum-board__date-time-created {
    margin-top: 20px;
}

.scrum-board__date-time-end {
    margin-top: 10px;
}

.scrum-board__task-card--priority1  {
    border-color: rgb(204, 182, 152);
}

.scrum-board__task-card--priority1 .scrum-board__priority-round  {
    background-color: rgb(204, 182, 152);
}

.scrum-board__task-card--priority2  {
    border-color: green;
}

.scrum-board__task-card--priority2 .scrum-board__priority-round  {
    background-color: green;
}

.scrum-board__task-card--priority3  {
    border-color: yellow;
}

.scrum-board__task-card--priority3 .scrum-board__priority-round  {
    background-color: yellow;
}

.scrum-board__task-card--priority4  {
    border-color: orange;
}

.scrum-board__task-card--priority4 .scrum-board__priority-round  {
    background-color: orange;
}


.scrum-board__task-card--priority5 {
    border-color: red;
}

.scrum-board__task-card--priority5 .scrum-board__priority-round  {
    background-color: red;
}

.scrum-board__priority-round {
    width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2c47f5;
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

