.project-item {
	position: relative;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	border-bottom: 1px solid #e0e0e0;
	padding: 20px;
	display: flex;
    font-weight: 400;
    font-family: "Mulish";
	width: 570px;
	justify-content: space-between;
}

.project-item__details {
	margin-bottom: 10px;
}

.project-item__name {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #333;
	margin-bottom: 5px;
}

.project-item__leader, .project-item__team {
	margin-top: 10px;
	font-size: 16px;
	color: #666;
	line-height: 25px;
}

.scrum-button {
	font-family: "Mulish";
	background-color: #1E152A;
	color: #fff;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 30px;
	display: inline-block;
	text-align: center;
	transition: background-color .2s ease;
}

.scrum-button:hover {
	background-color: #3d3c3f;
}

.project-item__image {
	width: auto;
	height: 200px;
}

.project-item__delete {
	position: absolute;
	width: 19px;
	height: 18px;
	cursor: pointer;
	right: 15px;
	top: 12px;
}

.project-item__delete-cross::before, .project-item__delete-cross::after {
	height: 20px;
	width: 3px;
	background-color: #3751ff;
	display: block;
	content: '';
	position: absolute;
	left: 7px;
	top: -1px;
}

.project-item__delete-cross::before {
	transform: rotate(45deg);
}

.project-item__delete-cross::after {
	transform: rotate(-45deg);
}


@media screen and (max-width: 1270px) {
    .project-item {
		width: 460px;
	}
	
	.project-item__image {
		height: 180px;
	}
	
}

@media screen and (max-width: 1050px) {
    .project-item {
		width: 100%;
	}
}

@media screen and (max-width: 620px) {
	.project-item__name {
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: bold;
		color: #333;
		margin-bottom: 5px;
	}
	
	.project-item__leader, .project-item__team {
		margin-top: 10px;
		font-size: 12px;
		color: #666;
		line-height: 25px;
	}
	
	.scrum-button {
		font-size: 10px;
		margin-top: 10px;
	}

	
	.project-item__image {
		height: 150px;
	}
}

@media screen and (max-width: 440px) {
    .project-item__image {
		display: none;
	}

	.scrum-button {
		width: 100%;
	}
}
