.project-item {
	border-bottom: 1px solid #e0e0e0;
	padding: 20px;
	display: flex;
    font-weight: 400;
    font-family: "Mulish";
	display: flex;
	justify-content:space-between;
}

.project-item__details {
	margin-bottom: 10px;
}

.project-item__name {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #333;
	margin-bottom: 5px;
}

.project-item__leader, .project-item__team {
	margin-top: 10px;
	font-size: 16px;
	color: #666;
	line-height: 25px;
}

.scrum-button {
	background-color: #1E152A;
	color: #fff;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 30px;
	display: inline-block;
	text-align: center;
}

.scrum-button:hover {
	background-color: #3d3c3f;
}

.project-item__image {
	width: auto;
	height: 200px;
}


@media screen and (max-width: 620px) {
    .project-item__name {
		font-size: 18px;
	}
	
	.project-item__leader, .project-item__team {
		font-size: 14px;
	}

	.scrum-button {
		font-size: 12px;
	}

	.project-item__image {
		height: 150px;
	}
}
