
.project {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 50px;
}

.project__title {
    font-family: "Mulish";
    font-size: 36px;
    margin-bottom: 10px;
}

.project__description {
    font-family: "Mulish";
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.project__button {
    font-family: "Mulish";
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.project__button:hover {
    background-color: #0056b3;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.feature {
    text-align: center;
    margin: 20px;
}

.feature__title {
    font-family: "Mulish";
    font-size: 24px;
    margin-bottom: 10px;
}

.feature__description {
    font-family: "Mulish";
    font-size: 16px;
    color: #555;
}
